$fuente_principal:"Nunito", sans-serif;
// Colores
$rojo: #FF4B3A;
$rojoClaro:#E5B7B7;
$rojoFuerte:#e27c7c;
$naranja:#eba555;
$grisClaro:#EFEFEF;
$gris:#E6E6E6;
$grisBoton:#F3F3F3;
$grisFuerte:#BFBFBF;
$verde:#63C26E;





$negro: #000000;
$blanco: #FFFFFF;

//Media Queries

$iphone: 390px;
$tablet:768px;
$desktop:1200px;
$desktopXL:1400px;